# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/biotrack_ems?schema=public"

# Authentication Config
JWT_SECRET="your_jwt_secret_key"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_key"

# Server Config
PORT=3000
